{% extends 'base.html.twig' %}

{% block title %}{{livre.title}}{% endblock %}
{% block nom_page %}{{livre.title}}{% endblock %}
{% block body %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <p> Titre du livre: {{livre.title}}</p>
            <p> Année: {{livre.year}}</p>
            <p> Nombres de pages: {{livre.page}}</p>

            <a href="{{ path('livre_edit', {'title': livre.title})}}"><button>Modifier le livre</button></a>
            <a href="{{ path('livre_delete', {'title': livre.title})}}"><button>Supprimer le livre</button></a>

        </main>
{% endblock %}
