{% extends 'base.html.twig' %}

{% block title %}Auteurs index{% endblock %}
{% block nom_page %}Index des Auteurs{% endblock %}
{% block body %}
    <h1>Liste des auteurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auteur in auteurs %}
            <tr>
                <td>{{ auteur.id }}</td>
                <td>{{ auteur.firstName }}</td>
                <td>{{ auteur.name }}</td>
                <td>{{ auteur.age }}</td>
                <td>
                    <a href="{{ path('auteurs_show', {'id': auteur.id}) }}">Afficher</a>
                    {% if app.user %}
                      <a href="{{ path('auteurs_edit', {'id': auteur.id}) }}">Modifier</a>  
                    {% endif %}   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun auteur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
        <a href="{{ path('auteurs_new') }}">Créer Nouvel auteur</a>
    {% endif %}   
    
{% endblock %}
