{% extends 'base.html.twig' %}

{% block title %}Auteurs{% endblock %}
{% block nom_page %}Auteurs{% endblock %}
{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ auteur.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ auteur.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ auteur.name }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ auteur.age }}</td>
            </tr>
            {% if auteur.ami %}
            <tr>
                <th>Ami</th>
                <td>
                
                    <a href="{{ path('auteurs_show', {'id': auteur.ami.id}) }}">
                    {{ auteur.ami.firstname }} {{ auteur.ami.name }}
                    </a>
                    <br/>
                
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>Livres</th>
                <td>
                {% for livre in auteur.livres %}
                    <a href="{{ path('livres_show', {'id': livre.id}) }}">{{ livre.title }}</a><br/>
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('auteurs_index') }}">retour à la liste</a>
    {% if app.user %}
        <a href="{{ path('auteurs_edit', {'id': auteur.id}) }}">modifier</a>
        {{ include('auteurs/_delete_form.html.twig') }}
    {% endif %}   

{% endblock %}
