<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <style>
            body{font-size:.875rem;}.feather{width:16px;height:16px;vertical-align:text-bottom;}/**Sidebar*/.sidebar{position:fixed;top:0;bottom:0;left:0;z-index:100;/*Behindthenavbar*/padding:48px;/*Heightofnavbar*/box-shadow:inset-1px00rgba(0,0,0,.1);}.sidebar-sticky{position:relative;top:0;height:calc(100vh-48px);padding-top:.5rem;overflow-x:hidden;overflow-y:auto;/*Scrollablecontentsifviewportisshorterthancontent.*/}@supports((position:-webkit-sticky)or(position:sticky)){.sidebar-sticky{position:-webkit-sticky;position:sticky;}}.sidebar.nav-link{font-weight:500;color:#333;}.sidebar.nav-link.feather{margin-right:4px;color:#999;}.sidebar.nav-link.active{color:#007bff;}.sidebar.nav-link:hover.feather,.sidebar.nav-link.active.feather{color:inherit;}.sidebar-heading{font-size:.75rem;text-transform:uppercase;}/**Content*/[role="main"]{padding-top:133px;/*Spaceforfixednavbar*/}@media(min-width:768px){[role="main"]{padding-top:48px;/*Spaceforfixednavbar*/}}/**Navbar*/.navbar-brand{padding-top:.75rem;padding-bottom:.75rem;font-size:1rem;background-color:rgba(0,0,0,.25);box-shadow:inset-1px00rgba(0,0,0,.25);}.navbar.form-control{padding:.75rem1rem;border-width:0;border-radius:0;}.form-control-dark{color:#fff;background-color:rgba(255,255,255,.1);border-color:rgba(255,255,255,.1);}.form-control-dark:focus{border-color:transparent;box-shadow:0003pxrgba(255,255,255,.25);}
        </style>    
    </head>
    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">{% block nom_page %}{% endblock %}</a>
            {% if app.user %}
                <a href="{{ path('admin_index') }}"> <button>Page Admin</button> </a>
            {% endif %}
            
            {% if not app.user %}
                <a href="{{ path('app_login') }}"> <button>Connexion/Créer un compte</button> </a>
            {% endif %}
            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté avec le compte:  {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}
        </nav>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('index')}}">
                                    <span data-feather="index"></span>
                                    Accueil
                                </a>
                                <a class="nav-link" href="{{ path('bibliotheques_index')}}">
                                    <span data-feather="bibliotheques"></span>
                                    Bibliothèques
                                </a>
                                <a class="nav-link" href="{{ path('livres_index')}}">
                                    <span data-feather="books"></span>
                                    Livres
                                </a>
                                <a class="nav-link" href="{{ path('auteurs_index')}}">
                                    <span data-feather="authors"></span>
                                    Auteurs
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    {% block body %}{% endblock %}
                </main>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
