{% extends 'base.html.twig' %}

{% block title %}Livres index{% endblock %}
{% block nom_page %}Livres Index{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Année</th>
                <th>Nombre de page</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.title }}</td>
                <td>{{ livre.year }}</td>
                <td>{{ livre.pageNum }}</td>
                <td>
                    <a href="{{ path('livres_show', {'id': livre.id}) }}">Afficher</a>
                    {% if is_granted('ROLE_ADMIN') %}
                       <a href="{{ path('livres_edit', {'id': livre.id}) }}">Modifier</a> 
                    {% endif %} 
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun livre trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('livres_new') }}">Créer nouveau livre</a>
    {% endif %} 
    
{% endblock %}
