{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}
{% block nom_page %}Livres{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.title }}</td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ livre.year }}</td>
            </tr>
            <tr>
                <th>Nombre de pages</th>
                <td>{{ livre.pageNum }}</td>
            </tr>
            <tr>
                <th>Auteurs</th>
                <td>
                {% for auteur in livre.auteurs %}
                    <a href="{{ path('auteurs_show', {'id': auteur.id}) }}">{{ auteur.firstname }} {{ auteur.name }}</a><br/>
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('livres_index') }}">Retour à la liste</a>

    

    {% if app.user %}
        <a href="{{ path('livres_edit', {'id': livre.id}) }}">Modifier</a>
        {{ include('livres/_delete_form.html.twig') }}
    {% endif %}  
{% endblock %}
