{% extends 'base.html.twig' %}

{% block title %}Liste des bibliothèques{% endblock %}
{% block nom_page %}Liste des bibliothèques{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Ville</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bibliotheque in bibliotheques %}
            <tr>
                <td>{{ bibliotheque.id }}</td>
                <td>{{ bibliotheque.name }}</td>
                <td>{{ bibliotheque.city }}</td>
                <td>{{ bibliotheque.description }}</td>
                <td>
                    <a href="{{ path('bibliotheques_show', {'id': bibliotheque.id}) }}">Afficher</a>
                    <a href="{{ path('bibliotheques_edit', {'id': bibliotheque.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de bibliothèques</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bibliotheques_new') }}">Ajouter une bibliothèque</a>
{% endblock %}
