{% extends 'base.html.twig' %}

{% block title %}Bibliotheques{% endblock %}
{% block nom_page %}Bibliotheques{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bibliotheque.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ bibliotheque.name }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ bibliotheque.city }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ bibliotheque.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bibliotheques_index') }}">Retour à la liste</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('bibliotheques_edit', {'id': bibliotheque.id}) }}">Modifier</a>
        {{ include('bibliotheques/_delete_form.html.twig') }}
    {% endif %}    

{% endblock %}
